html,
body,
#root {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 1;
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  background-color: #dadada;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  border-radius: 4px;
}

.debug {
  box-sizing: border-box;
  border: 2px solid red !important;
}

/* TODO - file these adjustments as an issue on maplibre github repository - should not be required */

.mapboxgl-ctrl-bottom-right,
.maplibregl-ctrl-bottom-right {
  min-height: 44px;
  max-width: 100%;
  padding-left: 16px;
}

.mapboxgl-ctrl-attrib.mapboxgl-compact-show,
.maplibregl-ctrl-attrib.maplibregl-compact-show {
  max-width: inherit;
}

.maplibregl-ctrl-attrib-inner,
.mapboxgl-ctrl-attrib-inner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
