[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
requests = "*"
pathlib = "*"
motuclient = "*"
Pydap = "*"
environs = "*"

[dev-packages]

[requires]
python_version = "3.8.10"

[scripts]
script = "python src/__main__.py"
