[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
xarray = "*"
cython = "*"
netcdf4 = "*"
pymongo = "*"
environs= "*"
requests = "*"
pathlib = "*"
pyyaml = "*"
zarr = "*"
pandas = "*"
natsort = "*"
matplotlib = "*"
aiohttp = "*"
siphon = "*"
dask = "*"
aiofiles = "*"
kerchunk = "*"
fsspec = "*"
h5py = "*"
asyncpg = "*"
pydap = "*"
lxml = "*"
pytest = "*"
scipy = "*"
psutil = "*"
copernicus-marine-client = "*"
copernicusmarine = "*"

[dev-packages]

[requires]
python_version = "3.10.6"

[scripts]
script = "python __main__.py"
