[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
xarray = "*"
cython = "*"
netcdf4 = "*"
pymongo = "*"
environs= "*"
requests = "*"
pathlib = "*"
motuclient = "*"
pyyaml = "*"
zarr = "*"
psycopg-pool = "*"
psycopg = "*"

[dev-packages]

[requires]
python_version = "3.8.10"

[scripts]
script = "python __main__.py"
