[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
natsort = "*"
xarray = "*"
matplotlib = "*"
datetime = "*"

[dev-packages]

[requires]
python_version = "3.8.10"

[scripts]
script = "python __main__.py"
