[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
xarray = "*"
geojsoncontour = "*"
cython = "*"
cartopy = "*"

[dev-packages]

[requires]
python_version = "3.8.10"

[scripts]
script = "python src/__init__.py"
